/*Barra de navegacion*/
.navbar-custom {
    background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: black;
}
.navbar-custom .nav-link:hover {
    color: gray;
}
.navbar-custom .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.navbar-custom .logo-container img {
    height: 50px; /* Tamaño ajustado de las imágenes */
    margin: 0 10px; /* Espacio entre las imágenes */
}
.navbar-custom .navbar-brand {
    display: flex;
    align-items: center;
}


/*cafe-bg*/
.cafe-bg {
    background-image: url('../img/dedia/20240515_093049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    position: relative;
    color: #fff; /* Para que el texto sea visible sobre la imagen de fondo */
}

.cafe-bg .container {
    position: relative;
    z-index: 2;
}

.cafe-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img-galeria {
    max-width: 80%; /* Ajusta el tamaño de la imagen */
    margin-left: auto; /* Mueve la imagen hacia el borde derecho */
    display: block;
    opacity: 0.7; /* Hace la imagen medio transparente */
    transition: opacity 0.3s;
}

.img-galeria:hover {
    opacity: 1; /* Quita la transparencia al hacer hover */
}

.btn-custom {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.btn-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: -1;
    transition: all 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.btn-custom:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-custom:hover {
    color: #fff;
}



/*bar-bg*/

.bar-bg {
    background-image: url('../img/denoche/20240522_233619.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    position: relative;
    color: #fff; /* Para que el texto sea visible sobre la imagen de fondo */
}

.bar-bg .container {
    position: relative;
    z-index: 2;
}

.bar-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

\.carousel-inner img {
    height: 500px; /* Ajusta la altura de las imágenes del carrusel */
    object-fit: cover;
}

.modal-body .row img {
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    transition: transform 0.3s;
}

.modal-body .row img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse sobre las imágenes */
}
