/* Barra de navegacion */
.navbar-custom {
    background-color: rgb(0, 0, 0);
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-custom .nav-link:hover {
    color: gray;
}
.navbar-custom .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.navbar-custom .logo-container img {
    height: 50px; /* Tamaño ajustado de las imágenes */
    margin: 0 10px; /* Espacio entre las imágenes */
}
.navbar-custom .navbar-brand {
    display: flex;
    align-items: center;
}

/* Estilo para el icono de toggler en color blanco */
.navbar-custom .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* cafe-bg */
.cafe-bg {
    background-image: url('../img/dedia/20240515_093049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    position: relative;
    color: #ffffff; /* Para que el texto sea visible sobre la imagen de fondo */
}

.cafe-bg .container {
    position: relative;
    z-index: 2;
}

.cafe-bg::before {
   /*content: '';*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejor visibilidad del texto */
    z-index: 1;
}

/* Imagen de la galería */
.img-galeria {
    max-width: 80%; /* Ajusta el tamaño de la imagen */
    margin-left: auto; /* Mueve la imagen hacia el borde derecho */
    display: block;
    opacity: 0.7; /* Hace la imagen medio transparente */
    transition: opacity 0.3s;
}

.img-galeria:hover {
    opacity: 1; /* Quita la transparencia al hacer hover */
}

/* Botón personalizado */
.btn-custom {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.btn-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: -1;
    transition: all 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.btn-custom:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.btn-custom:hover {
    color: #fff;
}



/*bar-bg*/
.bar-bg {
    background-image: url('../img/denoche/20240522_233619.jpg');
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    color: #fff; /* Para que el texto sea visible sobre la imagen de fondo */
}

.bar-bg .container {
    position: relative;
    z-index: 2;
}

.bar-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Añade una capa oscura para mejor legibilidad */
}


.carousel-inner img {
    height: 500px; /* Ajusta la altura de las imágenes del carrusel */
    object-fit: cover;
}

.modal-body .row img {
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    transition: transform 0.3s;
}

.modal-body .row img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse sobre las imágenes */
}


/*fonts*/


.playwrite-ar-parra {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}



.playwrite-cl-parrafo {
  font-family: "Playwrite CL", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}



.subt {
    font-size: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    /*text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0px #000, 2px -2px 0px #000;*/
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

/*mapa*/
/* Ajuste adicional para asegurar que el iframe sea completamente responsivo */
.map-container {
    width: 100%;
    height: auto;
}
