/*Barra de navegacion*/
.navbar-custom {
    background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: black;
}
.navbar-custom .nav-link:hover {
    color: gray;
}
.navbar-custom .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.navbar-custom .logo-container img {
    height: 50px; /* Tamaño ajustado de las imágenes */
    margin: 0 10px; /* Espacio entre las imágenes */
}
.navbar-custom .navbar-brand {
    display: flex;
    align-items: center;
}


/*bg*/
.cafe-bg {
    background-image: url('../img/dedia/20240515_093049.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    position: relative;
    color: #fff; /* Para que el texto sea visible sobre la imagen de fondo */
}

.cafe-bg .container {
    position: relative;
    z-index: 2;
}

.cafe-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5); /* Añade una superposición oscura */
    z-index: 1;
}



